venv/
__pycache__/
data/
backtest_results/
log/
sample/
all_strategies_results/
old/
get-data/data_*
get-data/DataFetch/
test/
create_project_files_merged.py
all_recommend_2025-06-26-041055.csv
realtrade/db/
.env



old_construct/
results/
*.gitkeep*
tools/get-data/DataFetch/
tools/compare/after/
tools/compare/before/
tools/compare/log/
external/~$trading_hub.xlsm
config/email_config.yml
tools/get-data/data_*
data_real/*
external/trading_hub.xlsm
scripts/src_bef.zip
scripts/other/*

